* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  /* background: #f7fffb !important; */
}

*:focus {
  outline: none !important;
}

.funtionalities {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
